<div align="left" style="Arial,Helvetica,sans-serif;">
	<div style="width:100%;">
		<p>Dear User_name_data,</p>
               	<p>We received a request on contact us.
				</p>
                <p>Customer Name: 
                    <p> <b> First_name Last_name </b></p>
                </p>
				 <p>Email Address: </p>
                    <p> <b>  cutomer_email </b></p>
                
				 <p>Phone:  </p>
					<p><b>  cutomer_phone </b></p>
                
				 <p>Message: </p> 
                    <p> <b> cutomer_message </b></p>
                    <p> Best Regards,<br/>
					Key Verticals Team.
				</p>
	</div>
</div>