<div align="left" style="Arial,Helvetica,sans-serif;">
	<div style="width:100%; ">
			<p>Dear  user_org_name,</p>
               	<p>Thank you for signing up for the Keyverticals program. Your application has been reviewed and unfortunately we will not be accepting you into our program at this time.</p>
                <p>If you think your application was disapproved in error kindly reach us on +2347089996189 (monday to friday).
				</p>
             <p> We appreciate your interest in KeyVerticals.</p>
              <p>Best Regards,<br/>
					Key Verticals Team.
				</p>
      </div>
</div>