<div align="left" style="Arial,Helvetica,sans-serif;">
	<div style="width:100%;">
		<p>Dear  user_org_name,</p>
        <p>Thank you for signing up for the Keyverticals program. Your application has been approved and below is your logon detail:</p>
            <p>Username: <b> User_name_data </b></p>
			<p>Password:  <b> user_password </b></p>
            <p> admin_message </p>
            <p>You can reach us anytime on <a href="mailto:contact@keyverticals.com">contact@keyverticals.com</a> should you require any form of technical assistance with setting up your new account.</p>
            <p>We appreciate your interest in KeyVerticals and hope to have a mutually beneficial relationship with you.</p>
            <p> Best Regards,<br>
                Key Verticals Team.  
            </p>
    </div>
</div>