<div align="left" style="font-family:Arial,Helvetica,sans-serif;">
	<div style="width:100%;">
	  <p>Dear  user_org_name ,</p>
			<p>Thank you for signing up for the KeyVerticals program. If your application is approved you will receive your login information containing your username and password. Approval time can take up to 2 business days.</p>
			<p> 
			We appreciate your interest in KeyVerticals and thank you for choosing to sign up at our network.
			</p>
            <p>
                Best Regards,<br>
                Key Verticals Team.  
            </p>
    </div>
</div>